.passager-item {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 24px auto;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;

  .passager-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .passager-name,
  .passager-classVol,
  .passager-nbBagagesSoute {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mat-icon {
    font-size: 24px;
    height: 24px;
    width: 24px;
  }
}
